node_modules
npm-debug.log
build
.dockerignore
Dockerfile
Dockerfile.dev
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
*.md
.nyc_output
coverage
.vscode
